@{
    ViewData["Title"] = "New History";
}

<div class="text-center">
    <h1 class="display-4">New History</h1>
    <p>Please add details below to create new piece of data for history.</p>
</div>
<form class="formcenter">
    <div class="divcenter">
        <input type="number" placeholder="Jobcard ID" />
        <br>
        <br>
        <input type="text" placeholder="Comments" />
        <br>
        <br>
        <input type="text" placeholder="Persons ID" />
        <br>
        <br>
        <button type="submit">Submit</button>
    </div>
</form>