@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4><b>Main Menu</b></h4>
<table class="center">
    <tr>
        <td>
            <button class="nav-button" onclick="document.location='Customer/Create'">Customer</button>
        </td>
        <td>
            <button class="nav-button" onclick="document.location='Vehicle/Create'">Vehicle</button>
        </td>
        <td>
            <button class="nav-button" onclick="document.location='Booking/Create'">Booking</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="nav-button" onclick="document.location='Jobcard/Create'">Jobcard</button>
        </td>
        <td>
            <button class="nav-button" onclick="document.location='Persons/Create'">Persons</button>
        </td>
        <td>
            <button class="nav-button" onclick="document.location='History/Create'">History</button>
        </td>
    </tr>
</table>
</div>