@{
    ViewData["Title"] = "New Person";
}

<div class="text-center">
    <h1 class="display-4">New Person</h1>
    <p>Please fill in the data below to create a new person.</p>
</div>
<form class="formcenter">
    <div class="divcenter">
        <input type="text" placeholder="Persons Name" />
        <br>
        <br>
        <input type="text" placeholder="Persons Surname" />
        <br>
        <br>
        <input type="text" placeholder="Position Description" />
        <br>
        <br>
        <button type="submit">Submit</button>
    </div>
</form>